{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100 py-5">
  <div class="card shadow-lg border-warning" style="width: 28rem; background-color: #fff9db;">
    <div class="card-body text-center">
      <h2 class="fw-bold mt-5" style="color: #f2c830;">Восстановление пароля завершено</h2>
      <p style="color: #333;">Ваш новый пароль сохранён. Теперь вы можете войти.</p>
      <p>
        <a href="{% url 'login' %}" class="btn btn-warning fw-bold">Войти</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}