{% extends "base.html" %}
{% block title %}
    Профиль
{% endblock %}
{% block content %}
    <h1 style="text-align:center;" class="mt-5">Профиль пользователя <p style="color:#f2c830;">{{ user.username }} </p></h1>
    <small>
        <ul class="list-group list-group-horizontal justify-content-center mb-3">
          <li class="list-group-item text-muted">Имя пользователя: {% if user.get_full_name %}{{ user.get_full_name }}{% else %}не указано{% endif %}</li>
          <li class="list-group-item text-muted">Регистрация: {{ user.date_joined }}</li>
        </ul>
    </small>
    <article class="mt-4">
        <a href="{% url 'users:shopping_cart' user.id %}" style="text-decoration:None; color:black">
            <div class="container card border border-warning" style="text-align:center; width: 30rem;">
                <h4>Корзина</h4>
            </div>
        </a>
    </article>
    <article class="mt-4">
        <a href="{% url 'password_change' %}" style="text-decoration:None; color:black;">
            <div class="container card border border-warning" style="text-align:center; width: 30rem;">
                <h4>Сменить пароль</h4>
            </div>
        </a>
    </article>
    <article class="mt-4">
        <a href="{% url 'logout' %}" style="text-decoration:None; color:black;">
            <div class="container card border border-warning" style="text-align:center; width: 30rem;">
                <h4>Выйти из аккаунта</h4>
            </div>
        </a>
    </article>
{% endblock %}